* {
    padding: 0;
    margin: 0;
    font-family: Arial;

}
body {
    background-color: white
}
.screen {
    max-width: 50%;
    height: 1000px;
    border-radius: 10% 10% 10% 10% ;
    background-color: 	black;
    color: 	rgb(29, 140, 255);
    margin-left: 25%;
    margin-right: 25%;
    padding: 2%;
    overflow: hidden;
    
}
nav {
    background-color: rgb(77, 77, 77);
    height: 50px;
    width: 120%;
    margin-left: -5%;
    margin-top: -5%;
    padding-left: 5%;
    padding-top: 5%;
    font-size: 20px;

}
#search {
    background-color: rgb(77, 77, 77);
    width: 50%;
    height: 30px;
    border: 1px rgb(77, 77, 77) solid;
    border-radius: 3% 3% 3% 3%;
    color: 	rgb(98, 175, 255);
    display: flex;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 10px;
}
svg {
    position: absolute;
    transform: translateX(150px) translateY(-20px);
}
input::placeholder {
    color: rgb(98, 175, 255) ;
}

.ball {
    width: 200px;
    height: 200px;
    margin: 10px;
    margin-left: 30%;
    margin-right: 30%;
    background-color: rgb(29, 140, 255);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    
}
.ball h2 {
    color: black;
    text-align: center;
    margin-top: 40%;
    
}
ul {
    margin: 20px;
}
li {
    list-style: none;
    margin: 5px;
}
li a {
    text-decoration: none;
    color: rgb(29, 140, 255);
    font-size: 24px;
    
    
}


.infinity svg {
    transform: translateX(175px) translateY(250px);
}
